[submodule "frappe-ui"]
	path = frappe-ui
	url = https://github.com/frappe/frappe-ui
[submodule "raven"]
	path = raven
	url = https://github.com/syntaxusman/raven.git
[submodule ".tmp-raven-inspect"]
	path = .tmp-raven-inspect
	url = https://github.com/syntaxusman/raven.git
