[submodule "frappe-ui"]
	path = frappe-ui
	url = https://github.com/frappe/frappe-ui
[submodule "raven"]
	path = raven
	url = https://github.com/zubbicodes/raven.git
[submodule "telegram-drive"]
	path = telegram-drive
	url = https://github.com/zubbicodes/TelegramDriveFrappe.git
	branch = main
