SITE_NAME=hrms.example.com
ADMIN_PASSWORD=change-me-to-a-strong-admin-password
MYSQL_ROOT_PASSWORD=change-me-to-a-strong-db-root-password
DEVELOPER_MODE=0
HRMS_GIT_URL=https://github.com/syntaxusman/erphrm.git
HRMS_BRANCH=develop
HRMS_APP_DIR=hrms
RAVEN_GIT_URL=https://github.com/syntaxusman/raven.git
RAVEN_BRANCH=develop
RAVEN_APP_DIR=raven
RAVEN_MOUNT_DIR=
RAVEN_BUILD_ASSETS=1
