SITE_NAME=flow.example.com
FLOW_SITE_URL=https://flow.example.com
FLOW_SUPPORT_EMAIL=support@example.com
ADMIN_PASSWORD=change-me-to-a-strong-admin-password
MYSQL_ROOT_PASSWORD=change-me-to-a-strong-db-root-password
DEVELOPER_MODE=0
HRMS_GIT_URL=https://github.com/zubbicodes/erphrm.git
HRMS_BRANCH=develop
HRMS_APP_DIR=hrms
HRMS_MOUNT_DIR=
RAVEN_GIT_URL=https://github.com/syntaxusman/raven.git
RAVEN_BRANCH=develop
RAVEN_APP_DIR=raven
RAVEN_MOUNT_DIR=
RAVEN_BUILD_ASSETS=1
FAST_START=0
NGINX_CONFIG_PATH=./docker/nginx.conf
FRAPPE_HTTP_PORT=8000
FRAPPE_SOCKETIO_PORT=9000
